// Import all of Bootstrap's CSS
$primary: #2C3532 !default;
$secondary: #0F6466 !default;
$success: #D8B08C !default;
$info: #CACACA !default;
$warning: #DEEFE7 !default;
$danger: #B4BEC9 !default;
@import "bootstrap/scss/bootstrap";